[run]
branch = True
source =
    olympic_tickets
    tickets
omit =
    */migrations/*
    */tests/*
    */__init__.py
    */settings_test.py
    */wsgi.py
    */asgi.py
    manage.py
    .venv/*

[report]
show_missing = True
skip_covered = False
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:

[html]
directory = htmlcov
