{% extends 'tickets/main.html' %}

{% block title %}Nos Offres{% endblock %}

{% block content %}
<h2>Choisissez votre offre</h2>

{% for offer in offers %}
    <div class="bundle">
        <h3>{{ offer.name }}</h3>
        <p>{{ offer.description }}</p>
        <p><strong>{{ offer.price }} €</strong></p>
        <form   class="add-to-cart-form"
                action="{% url 'add_to_cart' offer.id %}"
                method="post"
                data-offer-id="{{ offer.id }}">
            {% csrf_token %}
{# Réfléchir si bloquer l'achat des billets à 1 par activité : Protection contre bot, abus, revente..#}
            <label for="qty-{{ offer.id }}"> Quantité :</label>
            <input id="qty-{{ offer.id }}" type="number" name="quantity" value="1" min="1" class="qty-input">

            <button type="submit" class="btn">Ajouter au panier</button>
        </form>
    </div>
{% endfor %}

{% endblock %}
