<!-- templates/tickets/main.html -->
{% load static%}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}JO 2024{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Jeux Olympiques 2024</h1>
        <nav>
            <a href="{% url 'home' %}">Accueil</a> |
            <a href="{% url 'bundle_list' %}">Offres</a> |
            <a href="{% url 'cart' %}">Panier</a>

            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">Se déconnecter</a>
            {% else %}
                <a href="{% url 'login' %}">Se connecter</a>
            {% endif %}
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; Paris 2024</p>
    </footer>
</body>
</html>